@import url('https://fonts.googleapis.com/css?family=Dosis');


* {
    position: relative;
}

body {
    background-color: whitesmoke;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #B50000;
    outline: 1px solid slategrey;
}

.cardinfo {
  margin: 50px;

}

.cardimg {
    border-radius: 100%;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

.team {
    font-family: 'Dosis', sans-serif;
    color: #b50000;
    font-size: 72px;
}

.results::-webkit-scrollbar {
    width: 1em;
}

.results::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.results::-webkit-scrollbar-thumb {
    background-color: #B50000;
    outline: 2px solid #000;
}

.pizza-banner {
    width: 100%;
    height: 100%;
    top: -64px;
}

.pizza-container {
  height: 65vh;
}

.nav-bar-about {
  color: #b50000;
}

.fa-angle-double-up {
  color: #fff;
}

.album {
  background-color: #ccc;
}

.jumbotron {
    background-color: #fff;
}

header {
    margin-bottom: 0;
}

.navbar-brand p {
    font-family: 'Leckerli One', cursive;
    font-size: 32px;
    margin: 0 auto;
    color: #fff;
    padding-left: 20px;
}

.intro {
    text-align: center;
    margin-bottom: 32px;
    font-size: 64px;
    font-family: 'Dosis', sans-serif;
}

#typed {
    font-family: 'Leckerli One', cursive;
    color: #B50000;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #B50000, rgba(0, 0, 0, 0));
}
#map {
    background-color: #666;
    border: 1px solid #000;
    width: 100%;
    height: 100vh;
}

.results {
    border: 1px solid #000;
    width: 100%;
}

.results img {
    border-radius: 100%;
}

.results p {
    font-family: 'Dosis', sans-serif;
    letter-spacing: .5px;
    font-size: 18px;
}

footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #B50000;
}

footer p {
    margin-bottom: .25rem;
    color: #fff;
    font-family: 'Dosis', sans-serif;
    letter-spacing: .5px;
    font-size: 13px;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}